<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.gecp.servlets.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>com.gecp.servlets.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>com.gecp.servlets.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectServlet</servlet-name>
        <servlet-class>com.gecp.servlets.SelectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditScreenServlet</servlet-name>
        <servlet-class>com.gecp.servlets.EditScreenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectServlet</servlet-name>
        <url-pattern>/select</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditScreenServlet</servlet-name>
        <url-pattern>/editScreen</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
